In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
import pymysql

In [6]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.36-py2.py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.4/72.4 kB 4.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (1.23.5)
Requirement already satisfied: lxml>=4.9.1 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (4.9.1)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: pytz>=2022.5 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (2022.7)
Collecting requests>=2.31
  Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.0-cp310-cp310-macosx_10_9_x86_64.whl (37 kB)
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Requirement already satisfied: appdirs>=1.4.4 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (1.5.3)
Collecting peewee>=3.16.2
  Using cached peewee-3.17.0-cp310-cp310-macosx_10_9_x86_64.whl
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: webencodings in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2023.11.17)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/irfanjamil/anaconda3/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.4)
Installing collected packages: peewee, multitasking, requests, html5lib, frozendict, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.28.1
    Uninstalling requests-2.28.1:
      Successfully uninstalled requests-2.28.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.27 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.27 requires nbformat==5.4.0, but you have nbformat 5.7.0 which is incompatible.
conda-repo-cli 1.0.27 requires requests==2.28.1, but you have requests 2.31.0 which is incompatible.
Successfully installed frozendict-2.4.0 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 requests-2.31.0 yfinance-0.2.36
Note: you may need to restart the kernel to use updated packages.

In [8]:
import yfinance as yf

In [11]:
yf.Ticker('^SPX').history(period='max')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-01-29 00:00:00-05:00,4892.950195,4929.310059,4887.399902,4927.930176,3525160000,0.0,0.0
2024-01-30 00:00:00-05:00,4925.890137,4931.089844,4916.270020,4924.970215,3836130000,0.0,0.0
2024-01-31 00:00:00-05:00,4899.189941,4906.750000,4845.149902,4845.649902,4696120000,0.0,0.0
2024-02-01 00:00:00-05:00,4861.109863,4906.970215,4853.520020,4906.189941,4386090000,0.0,0.0
2024-02-02 00:00:00-05:00,4916.060059,4975.290039,4907.990234,4967.910156,1987881391,0.0,0.0

In [12]:
spx = yf.Ticker('^SPX').history(period='max')

In [13]:
spx = spx.reset_index()

In [18]:
spx.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0

In [19]:
spx['daily_return'] = [None] + list((np.array(spx['Open'].iloc[1:])-np.array(spx['Open'][:-1]))/np.array(spx['Open'][:-1]))

/var/folders/8r/fr9y19j57554vvz5607f_l4h0000gn/T/ipykernel_29547/2273060986.py:1: RuntimeWarning: divide by zero encountered in divide
  spx['daily_return'] = [None] + list((np.array(spx['Open'].iloc[1:])-np.array(spx['Open'][:-1]))/np.array(spx['Open'][:-1]))
/var/folders/8r/fr9y19j57554vvz5607f_l4h0000gn/T/ipykernel_29547/2273060986.py:1: RuntimeWarning: invalid value encountered in divide
  spx['daily_return'] = [None] + list((np.array(spx['Open'].iloc[1:])-np.array(spx['Open'][:-1]))/np.array(spx['Open'][:-1]))

In [20]:
spx

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,daily_return
0,1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,NaN
1,1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0,0.005663
2,1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0,-0.002252
3,1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0,-0.009594
4,1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0,0.006268
...,...,...,...,...,...,...,...,...,...
24133,2024-01-29 00:00:00-05:00,4892.950195,4929.310059,4887.399902,4927.930176,3525160000,0.0,0.0,0.000826
24134,2024-01-30 00:00:00-05:00,4925.890137,4931.089844,4916.270020,4924.970215,3836130000,0.0,0.0,0.006732
24135,2024-01-31 00:00:00-05:00,4899.189941,4906.750000,4845.149902,4845.649902,4696120000,0.0,0.0,-0.005420
24136,2024-02-01 00:00:00-05:00,4861.109863,4906.970215,4853.520020,4906.189941,4386090000,0.0,0.0,-0.007773
24137,2024-02-02 00:00:00-05:00,4916.060059,4975.290039,4907.990234,4972.910156,2006456483,0.0,0.0,0.011304

In [21]:
from scipy import stats
from statsmodels.base.model import GenericLikelihoodModel

In [ ]:
#dS = uSdt + sigma * S  * dW =>
# dS/S = u dt + sigma * dW =>
# dS/S = Normal(u * dt, sigma^2 * dt)

def zip_pdf(x, mu=0, sigma=1):
    dt = 1/252
    mean = mu * dt
    if sigma <= 0:
        return np.zeros_like(x)
    else:
        return (x == 0) * pi + (1 - pi) * stats.poisson.pmf(x, lambda_)